@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

#alpha1{
    position: absolute;
    left: 150px;
    top: -85px;
    display: inline-block;
    font-size: 750px;
    font-weight: bolder;
    font-stretch: ultra-expanded;
    transform: rotate(deg);
    color: cyan;
    font-family: 'Roboto', sans-serif;
}

#alpha2{
    position: absolute;
    left: 205px;
    top: -110px;
    display: inline-block;
    font-size: 750px;
    font-weight: bolder;
    font-family:'Roboto', sans-serif ;
    font-stretch: ultra-expanded;
    transform: rotate(deg);
    color: rgb(241, 75, 103);
}